name: check-version

on:
  release:
    types: [created]


jobs:

  check-version:
    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3:cpu

    steps:
    - uses: actions/checkout@v1

    - name: Run check script
      id: check_script
      run: echo "RELEASE_VERSION_MISMATCH=$(python3 release_version_mismatch.py ${GITHUB_REF##*/})" >> $GITHUB_ENV

    - name: Conditionally cancel job
      if: env.RELEASE_VERSION_MISMATCH
      run: echo "::error::RELEASE VERSION MISMATCH"
