name: check-version

on:
  release:
    types: [created]


jobs:

  check-version:
    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3:cpu

    steps:
    - uses: actions/checkout@v1

    - name: Conditionally cancel job
      if: python3 check_release_version.py ${GITHUB_REF##*/}
      uses: andymckay/cancel-action@0.2
