name: check-version

on:
  release:
    types: [created]


jobs:

  check-version:
    runs-on: ubuntu-latest

    container:
      image: analysiscenter1/ds-py3:cpu

    steps:
    - uses: actions/checkout@v1

    - name: Create and run script
      run: |
        if python3 check_release_version.py ${GITHUB_REF##*/}; then
          echo "ok"
        else
          echo "not ok"
        fi
